// Here you can add other styles
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic:wght@400;700;800&display=swap');

body, div { font-family: 'Nanum Gothic'; }
.breadcrumb, .breadcrumb a {  font-family: 'Jua'; }
a { color: #6f6f6f; text-decoration: none; }
a:hover, a:focus, a:active { color: #57a49f; }